/* Daniel Fernández Bernardino, UO269783 */
/*Especificidad: 001*/
body {
  font-family: Tahoma, sans-serif;
  color: #000000;
  background-color: rgb(242, 239, 202);
  font-size: medium;
  text-align: justify;

}

/*Especificidad: 001*/
h1 {
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
}

/* Especificidad 001*/
h2 {
  color: #000000;
  font-size: 20px;
}

/* Especificidad 001*/
section {
  background-color: #97f2c7;
  border: 2px solid #057440;
}

/* Especificidad 002*/
h1+p {
  font-size: large;
  vertical-align: bottom;
}

/* Especificidad 001*/
nav {
  background-color: #ffffff;
  padding: 1%;
}

/* Especificidad 002*/
nav a {
  background-color: black;
  color: white;
  font-size: large;
}

/*Especificidad 001*/
body>header {
  background-color: #b2e5e5;
  border: 2px solid #717ddb;
}

/* Especificidad 001 */ 
footer {
  background-color: rgb(255, 192, 255);
  border: solid 2px rgb(152, 63, 152);
}