/* Daniel Fernández Bernardino, UO269783 */
/*Especificidad: 001*/
body {
  font-family: Tahoma, sans-serif;
  color: #000000;
  background-color: rgb(242, 239, 202);
  text-align: justify;

}

/*Especificidad: 001*/
h1 {
  /* color heredado de body*/
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
  padding: 1%;
}

/* Especificidad 001*/
h2 {
  font-size: 28px;
  text-align: center;
}

/* Especificidad 001*/
h3 {
  /*color heredado de body*/
  font-size: 20px;
  margin: 1% 5% auto;
  text-align: start;
}

/* Especificidad 002*/
article section {
  /* color de fuente heredado de body*/
  background-color: #97f2c7;
  border: 2px solid #057440;
  margin: 5% 5% 0%;
}

/* Especificidad 002*/
section {
  /* color de fuente heredado de body*/
  margin: 5% 5% 0%;
  background-color: #b2e5e5;
  border: 2px solid #717ddb;
}

/* Especificidad 001*/
article {
  /* color de fuente heredado de body */
  background-color: #be84a3;
  border: 2px solid purple;
  margin: 2% 10% 2%;
  padding-bottom: 5%;
}

/* Especificidad 003*/
section>p+img {
  margin: auto;
  max-width: 100%;
  height: auto;
}

/* Especificidad 001*/
video {
  max-width: 100%;
  height: auto;
}

/* Especificidad 002*/
h1+p {
  /* color de fuetne heredado de body*/
  text-align: left;
  font-size: large;
}

/* Especificidad 001*/
nav {
  /* el color de los elementos a contenidos en el nav está especificado en la siguiente regla, nav a*/
  background-color: #ffffff;
  margin: 0%;
  height: fit-content;
  padding: 0.5%;
}

/* Especificidad 002*/
nav a {
  background-color: black;
  color: white;
  font-size: large;
  text-decoration: none;
  padding: 0.5%
}


/* Especificidad 001*/
header,
footer {
  /* color de fuente heredado de body*/
  background-color: #e56db1;
  border: solid 2px rgb(247, 43, 43);
}

/* Especificidad 001 */
footer {
  padding: 2%;
  margin: 1% 0% 0%;
}

/* Especificidad 002*/
footer img {
  margin: auto;
}

/* Especificidad 001*/
p {
  margin-left: 2%;
  margin-right: 2%;
}