/* Daniel Fernández Bernardino, UO269783 */
/*Especificidad: 001*/
body {
    font-family: Tahoma, sans-serif;
    color: #000000;
    background-color: rgb(242, 239, 202);
    font-size: medium;
    }
  /*Especificidad: 001*/
  h1 {
    color: #000000;
    text-transform: uppercase;
    padding: 2em; 
    text-align: center;     
    font-size: large;
    }
  
  
  
  