/* Daniel Fernández Bernardino */

/* Especificidad 001 */
body {
    display: grid;
    grid-template-areas: 'header'
    'nav'
    'main';
}

/* Especificidad 001 */
main {
    grid-area: main;
    display: grid;
    grid-template-areas: 'section' 'article' 'footer';

}

/* Especificidad 001 */
article {
    display: grid;
    grid-template-areas: 'primera' 'segunda';
    grid-area: article;
}

/* Especificidad 001 */
article>section {
    grid-area: primera;
}

article>section+section {
    grid-area: segunda;
}

/* Especificidad 002 */
body>header {
    display: grid;
    grid-template-areas: 'h1 p';
    grid-area: header;
    
}

/* Especificidad 001 */
h1 {
    grid-area: h1;
    
}

/* Especificidad 002 */
h1 + p {
    grid-area: p;
    
}

/* Especificidad 001 */
nav {
    grid-area: nav;
}

section {
    grid-area: section;
}

/* Especificidad 001 */
footer {
    grid-area: footer;
}