/* Daniel Fernández Bernardino */

/* Especificidad 001 */
body {
    display: grid;
    grid-template-areas: 'header'
        'nav'
        'main'
        'footer';
}

/* Especificidad 001 */
main {
    grid-area: main;
    display: grid;
    grid-template-areas: 'section' 'article';

}

/* Especificidad 001 */
article {
    display: grid;
    grid-template-areas: 'titulo' 'primera' 'segunda';
    grid-area: article;
}

/* Especificidad 001 */
article>section {
    grid-area: primera;
}

/* Especificidad 003*/
article>section+section {
    grid-area: segunda;
}

/* Especificidad 004*/
article>section+section h3 {
    grid-area: h3;
}

/* Especificidad 002*/
article>h2 {
    grid-area: titulo;
}

/* Especificidad 001 */
header {
    display: grid;
    grid-template-areas: 'h1 p';
    grid-area: header;

}

/* Especificidad 001 */
h1 {
    grid-area: h1;

}

/* Especificidad 002 */
h1+p {
    grid-area: p;

}

/* Especificidad 001 */
nav {
    grid-area: nav;
}

/* Especificidad 001*/
section {
    grid-area: section;
}

/* Especificidad 001 */
footer {
    grid-area: footer;
}

/* Especificidad 012 */
form fieldset:last-of-type {
    display: grid;
    grid-template-areas: 'textarea fecha boton';
}

/* Especificidad 023 */
form fieldset:last-of-type p:first-of-type{
    grid-area: textarea;
}

/* Especificidad 023 */
form fieldset:last-of-type p:last-of-type{
    grid-area: boton;
}

/* Especificidad 013 */
form fieldset:last-of-type p{
    grid-area: fecha;
}
