/*Daniel Fernández Bernardino*/

/* Especificidad 001*/
dl {
    /* color de fuente heredado de body */
    margin: 5%;
}

/* Especificidad 001*/
dt {
    font-size: 20px;
    margin-left: 10%;
    margin-bottom: 1%;
    text-decoration: underline;
}

/* Especificidad 001*/
dd {
    font-size: medium;
    margin: auto 5% 3%;
}

