/* Daniel Fernández Bernardino*/
/* Especificidad 001*/
body>header {
    margin: 0%;
}

/* Especificidad 001*/
h1 {
    padding: 1%;
}

/* Especificidad 001*/
h2 {
    margin: 1% 5% auto;
}

/* Especificidad 001 */
section {
    margin: 5% 10% 0%;
}

main+section {
    margin: 0% 5% 0%;
}

/* Especificidad 003*/
section>p+img {
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

/* Especificidad 001*/
p {
    margin-left: 20px;
    margin-right: 20px;
}

/* Especificidad 001 */
nav {
    margin: 0%;
    padding: 0%;
}

/* Especificidad 001 */
footer {
    padding: 2%;
    margin: 1% 0% 1%;
}