/* Daniel Fernández Bernardino*/
/* Especificidad 001*/
header {
    background-color: #b2e5e5;
    border: 2px solid #717ddb;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
}

/* Especificidad 001*/
h1 {
    padding: 2em;
}

/* Especificidad 001*/
h2 {
    margin: 1% 5% auto;
}

/* Especificidad 001 */
section {
    margin-left: 10%;
    margin-right: 10%;
}

/* Especificidad 003*/
section>p+img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Especificidad 001*/
p {
    margin-left: 20px;
    margin-right: 20px;
}

/* Especificidad 001 */
nav {
    margin: 0%;
    padding: 0%;
}